@import "../../../assets/styles/mixins.scss";
.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}
.message.to {
  background-color: #2095fe;
  color: #fff;
  margin-left: 90px;
  text-align: right;
  word-break: break-word;
}
.message.from {
  background-color: #e5e4e9;
  color: #363636;
  margin-right: 90px;
  word-break: break-word;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}

.type_msg {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.input_msg_write {
  display: flex;
}

.input_msg_write input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #041e42;
  font-size: 14px;
  width: 100%;
  padding: 13px 20px;
  font-family: "Lato", sans-serif;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0 10px rgb(0 0 0 / 80%);
  -moz-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px -6px 10px 0 #ccc;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.errspan {
  float: right;
  margin-right: 16px;
  margin-top: -34px;
  position: relative;
  z-index: 2;
  background: transparent none repeat scroll 0 0;
  border: none;
  color: #fff;
  cursor: pointer;
}

.column {
  margin-top: 20px;
}

.chat-bot-title {
  display: flex;
}

.close-button {
  margin-left: 70px;
}

.send-button {
  margin-left: auto;
}

.row {
  min-height: 350px;
  overflow-y: hidden !important;
}

::ng-deep.mat-dialog-content {
  max-height: 350px !important;
  max-width: 302px;
  overflow: unset !important;
  overflow-y: hidden !important;
}

::ng-deep.mat-dialog-container {
  overflow: unset !important;
}

mat-dialog-actions {
  margin-top: 8px;
}

::ng-deep.cdk-overlay-pane {
  max-width: 70vw !important;
  position: fixed !important;
  bottom: 50px !important;
  right: 28px !important;
  @include for-phone-only {
    max-width: 100vw !important;
    position: unset !important;
    bottom: unset !important;
    right: unset !important;
    transform: translate(0px, 0px);
  }
}
