<div>
  <app-breadcrum [breadcrumValue]="constants.PENDING_REQUEST"></app-breadcrum>
</div>

<mat-form-field class="filter-list" appearance="standard">
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. ium"
    #input
    [formControl]="filterFormControl"
  />
</mat-form-field>

<div>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
      matSort
    >
      <!-- Micro Service Name Column -->
      <ng-container matColumnDef="firstName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="table-header"
        >
          First Name
        </th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="table-header"
        >
          Last Name
        </th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>

      <!-- Version Column -->
      <ng-container matColumnDef="mobileNo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="table-header"
        >
          Mobile No.
        </th>
        <td mat-cell *matCellDef="let row">{{ row.mobileNo }}</td>
      </ng-container>

      <!-- Last Refresh -->
      <ng-container matColumnDef="emailId">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="table-header"
        >
          Email Id
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.emailId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="orgName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="table-header"
        >
          Organization Name
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.orgName }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="table-header">Action</th>
        <td mat-cell *matCellDef="let row">
          <button
            id="primary-button"
            mat-button
            class="button-refresh"
            color="primary"
            (click)="reviewRequest(row)"
          >
            Review Details
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
  <div class="button-wrapper">
    <button
      id="primary-button"
      mat-button
      color="primary"
      (click)="goBackToHome()"
    >
      Go Back
    </button>
  </div>
</div>
